.display
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2b293d;
    color: #80c9c9;
    font-size: xx-large;
    height: 50px;
    padding: 1.5rem 1rem;    
    border-radius: 0.5rem 0.5rem 0 0 ;
}