.top
{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

label
{
    margin: 10px;
    font-size: larger;
    color: white;
    font-weight: bold;
    text-shadow:  0 0 2px black, 0 0 2px black;
}

select
{
    font-size: large;
    outline: none;
    border: none;
    border-radius: 5px;
}

.right
{
    text-align: right;
}

.filter
{
   
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    width: 100px;
    margin: 0px;
}

hr
{
    margin: 0px;
}