body{
    overflow: hidden;
    user-select:none;
}

.calculator
{
    width: 500px;
    margin: 3rem auto;
    border-radius: 1rem;
}

@media screen and (max-width: 500px) 
{
    .calculator
    {
        width: 99vw;
        margin: 5px auto;
    }
}