.button
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75px;
    font-size: larger;
    background-color: #cad2c5;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 0.5rem;
}
.button:hover
{
    background-color: #cad2c5d3;
}

@media screen and (max-width: 500px) 
{
    .button
    {
        height: 80px;
    }
}